@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply dark:bg-[#011] bg-white;
}